body {
	overflow: hidden;
	margin: 0;
}

#main-container * {
	position: relative;
}

#main-container {
	background-image: url("../images/cheese_moon2.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	overflow: hidden;
	z-index: 0;
}


#img-metro:hover {
 	animation: anim-metroStart 10s ease;
}

@keyframes anim-metroStart {
	0% {
		left: 15px;
		bottom: 350px;
		transform: scaleX(1);
	} 
	25% {
		left: 200px;
		bottom: 600px
	}
	50% {
		left: 400px;
		bottom: 300px;
	}
	75% {
		left: 200px;
		bottom: 0px;
	}
	100% {
		left: 15px;
		bottom: 350px;
		transform: scaleX(-1);
	}
}

#img-metro {
	width: 250px;
	z-index: 10;
	left: 30px;
	top: 200px;
	position: absolute;
}

#img-mouse {
	top: 125px;
	left: 80px;
	width: 120px;
	z-index: 10;
	position: fixed;	
}